<section id="home">
  <p-toast></p-toast>
  <div class="jumbo-heading">
    <!-- Heading -->
    <h1>Admin Dashboard</h1>
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
      <li><a href="/Home">Home</a> <span class="divider"></span></li>
      <li class="active">Admin Dashboard</li>
    </ul>
  </div>
  <div class="container-fluid">
    <!-- Extras -->
    <div class="container">
      <!-- Basic elements -->
      <!-- <div class="row">
        <div class="col-12">
          <app-popular-character-by-time></app-popular-character-by-time>
        </div>
      </div> -->
      <div class="row">
        <div class="col-lg-6">
          <app-top-character></app-top-character>
          <!-- /row-->
        </div>

        <div class="col-lg-6">
          <app-total-votes-by-time></app-total-votes-by-time>
          <!-- /row-->
        </div>
        <!-- /col-->
      </div>
      <!--/row-->

      <!-- /row -->
    </div>
    <!--/container -->
  </div>
  <!-- /container-fluid -->
</section>
