<ul class="cb-slideshow">
  <li>
    <span>Image 01</span>
    <div>
      <h3>re·lax·a·tion</h3>
    </div>
  </li>
  <li>
    <span>Image 01</span>
    <div>
      <h3>re·lax·a·tion</h3>
    </div>
  </li>
  <li>
    <span>Image 01</span>
    <div>
      <h3>re·lax·a·tion</h3>
    </div>
  </li>
  <li>
    <span>Image 01</span>
    <div>
      <h3>re·lax·a·tion</h3>
    </div>
  </li>
  <li>
    <span>Image 01</span>
    <div>
      <h3>re·lax·a·tion</h3>
    </div>
  </li>
  <li>
    <span>Image 01</span>
    <div>
      <h3>re·lax·a·tion</h3>
    </div>
  </li>
</ul>
<div class="blurred-box">
  <div class="login_wrapper animate">
    <div class="logo-image">
      <img src="../../../../assets/images/Disneylogo.png" alt="Federal Medicine and Diagnostic Center"
        class="logo-image" />
    </div>
    <div class="login_form">
      <section class="login_content">
        <router-outlet></router-outlet>
      </section>
    </div>
    <div class="login-footer">
      <h1>Federal Medicine and Diagnostic Center</h1>
      <p>For account related problems please contact the administrator</p>
    </div>
  </div>
</div>
<!-- <div class="loaderbody" id="loaderbody">
  <div class="loader">
    <img src="../../../../assets/images/Scanning.gif" />
  </div>
</div> -->
