<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input type="password" class="form-control" tabindex="2" id="oldPassword" formControlName="oldPassword"
      [class.ng-invalid]="oldPassword?.invalid" [pTooltip]="oldPassword?.invalid?'Old Password is required':''"
      tooltipPosition="right" tooltipStyleClass="p-tooltip-error" [autoHide]="false" />
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="password" class="form-control" tabindex="2" id="newPassword" formControlName="newPassword"
      [class.ng-invalid]="newPassword?.invalid" [pTooltip]="newPassword?.invalid?'New password is required':''"
      tooltipPosition="right" tooltipStyleClass="p-tooltip-error" />
  </div>
  <div class="form-group">
    <label for="cfmPassword">Confirm Password</label>
    <input type="password" class="form-control" tabindex="2" id="cfmPassword" formControlName="cfmPassword"
      [class.ng-invalid]="cfmPassword?.invalid"
      [pTooltip]="cfmPassword?.invalid && cfmPassword.errors?.['required']?'Confirm password is required':cfmPassword?.invalid && cfmPassword.errors?.['passwordMismatch']?'Passwords do not match':''"
      tooltipPosition="right" tooltipStyleClass="p-tooltip-error" />
  </div>

  <div class="modal-footer">
    <div class="row" style="width: 100%">
      <div class="col-9">
        <div class="alert alert-danger" *ngIf="isSignUpFailed" style="width: 100% !important">
          {{ errorMessage }}
        </div>
        <div class="alert alert-success" *ngIf="isSuccessful" style="width: 100% !important">
          {{ errorMessage }}
        </div>
      </div>
      <div class="col-2">
        <button [disabled]="!changePasswordForm.valid" type="submit" class="btn btn-success">
          Submit
        </button>
      </div>
    </div>
  </div>
</form>